@media (max-width: 790px) {
  .header__list li {
    margin: 0 0 0 64px;
  }

  .benefits__list-item {
    display: block;
  }

  .benefits__img {
    min-width: 211px;
    min-height: 187px;
    background-size: cover;
}

  .item-content {
    margin: 0;
    margin-top: 15px;
    max-width: 210px;
  }

  .bottom-part {
    margin-top: 30px;
  }

  .benefits__text {
    font-size: 15px;
  }

  .teachers__list-item img {
    margin-bottom: 28px;
    border-radius: 34px 34px 0px 0px;
    width: 100%;
  }


}
